absl-py==2.1.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.15.1
charset-normalizer==3.4.0
cycler==0.11.0
fonttools==4.38.0
google-auth==2.36.0
google-auth-oauthlib==0.4.6
grpcio==1.62.3
idna==3.10
importlib-metadata==6.7.0
jpeg4py==0.1.4
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.5
Markdown==3.4.4
MarkupSafe==2.1.5
matplotlib==3.5.3
networkx==2.6.3
numpy==1.21.6
oauthlib==3.2.2
opencv-python==4.7.0.72
packaging==24.0
Pillow==9.5.0
protobuf==3.20.3
pyarrow==11.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pyparsing==3.1.4
python-dateutil==2.9.0.post0
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
scipy==1.7.3
six==1.16.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
torch==1.12.1+cu113
torchvision==0.13.1+cu113
tornado==6.2
typing_extensions==4.7.1
urllib3==2.0.7
visdom==0.2.4
websocket-client==1.6.1
Werkzeug==2.2.3
zipp==3.15.0
